@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

div.nav-bar {
    display: flex;
    justify-content:none;
    padding: 1rem 0rem;
    width: 100vw;
    background: #304353;
}

div.logo {
    font-size: 15px;
    color: #bcc3c7;
}

ul.nav-links {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

ul li {
    margin: 0 58vw;
    list-style: circle;
    font-size: 1rem;
    padding:0px 0px 0px 0px;
}

ul li a {
    text-decoration: underline;
    color: #88949B;
    padding: 0.9vw;
}

ul li a:hover {
    color: #304353;
    background: grey;
    padding: 0.1rem;
    transition: .5s;
    border:1.5px solid black;
}
/* div #icon{
    color:#304353;
    font-size: 20px;
    line-height: 80px;
    margin: 0px 0px 70px 0px;
    float: right;
    dispaly:none;
} */

div.hero-section {
    background: #304353;
    padding: 3.9rem;
}

div.hero-content-heading {
    text-align: left;
    padding-right: 0px;
    margin: 0px auto;
}

div.hero-content-heading h3 {
    font-size: 3rem;
    width:400px;
    text-align: left;
    margin: 0px 10000px 10px 0px;
    padding:0px 1800px 0px 0px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    color: #bcc3c7;
}

div.hero-content-heading p {
    text-align: center;
    width: 200px;
    padding-top: 0.7rem;
    color: #88949B;
    font-size: 1rem;
    letter-spacing: 2px;
    font-weight: 300;
}

div.hero-content-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

div.hero-content-btn a {
    background: #E44C65;
    text-decoration: none;
    color: #bcc3c7;
    font-size: 0.9rem;
    padding: 10px 30px;
    border-radius: 3px;
    letter-spacing: 2px;
}

div.hero-background {
    background: #f0f0f0;
    padding: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.background {
    background: #fff;
    box-shadow: 2px 2px 15px 0 rgb(135 135 135 / 40%);
    padding: 15px 40px;
    width: 550px;
    height: 350px;
    position: relative;
}

div.background h4 {
    padding: 2rem;
    color: #555657;
    font-size: 1rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

div.background p {
    color: #A6A5AA;
    padding-left: 2rem;
    font-size: 0.8rem;
    letter-spacing: 2px;
}

div.hero-background-pos {
    display: none;
    position: absolute;
    right: 0px;
    left: 66%;
    background: #fff;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    box-shadow: 2px 2px 15px 0 rgb(135 135 135 / 40%);
}

div.snapshot-team {
    background: #f0f0f0;
    text-align: center;
    padding-top: 2rem;
}

div.snapshot-team h2 {
    color: #555657;
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

div.snapshot-team p {
    color: #A6A5AA;
    font-size: 1rem;
    letter-spacing: 2px;
    padding-top: 0.8rem;
}

div.snapshot-box {
    display: flex;
    justify-content:center;
    align-items: center;
    background: #f0f0f0;
    padding: 4rem 6rem;
}

div.snapshot-box-content {
    display: flex;
    justify-content:center;
}

div.box1 {
    background: #fff;
    padding: 10px 20px;
    width: 60px;
    height: 70px;
    margin: 5px;
    border-radius: 2px;
    box-shadow: 2px 2px 15px 0 rgb(135 135 135 / 40%);
}

div.box3 {
    background: #304353;
    padding: 10px 20px;
    width: 60px;
    height: 70px;
    margin: 5px;
    border-radius: 2px;
    box-shadow: 2px 2px 15px 0 rgb(135 135 135 / 40%);
}

div.box3 h5 {
    text-align: center;
    padding-top: 2rem;
    color: #E44C65;
    font-size: 10px;
}

div.circle {
    display: flex;
    margin: 0 auto;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #bcc3c7;
    margin-top: 1rem;
    
}

div.box1 h5 {
    text-align: center;
    padding-top: 2rem;
    color: #E44C65;
    font-size: 10px;
}

div.gallery-section {
    background: #fff;
    padding: 4rem;
}

div.gallery-content {
    text-align: center;
}

div.gallery-content h4 {
    color: #555657;
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

div.gallery-content p {
    color: #A6A5AA;
    font-size: 1rem;
    letter-spacing: 2px;
    padding-top: 0.8rem;
}

div.gallery-img {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   padding-top: 3rem;
}

div.img {
    margin: 10px;
}

div.img img {
    width: 250px;
    height: 180px;
}

div.footer {
    background: #304353;
    padding: 3rem;
}

div.footer-content {
    text-align: center;
}

div.footer-content h4 {
    color: #bcc3c7;
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

div.footer-content p {
    color: #88949B;
    font-size: 1rem;
    letter-spacing: 2px;
    padding-top: 0.8rem;
}

div.footer-input {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
}

input[type="text"] {
    margin-right: 10px;
    padding: 10px 20px;
    width: 33%;
    outline: none;
    border: 1px solid #bcc3c7;
    background: transparent;
    color: #f0f0f0;
    font-size: 1rem;
    border-radius: 2px;
}

input[type="email"] {
    margin-right: 10px;
    padding: 10px 20px;
    width: 33%;
    outline: none;
    border: 1px solid #bcc3c7;
    background: transparent;
    color: #f0f0f0;
    font-size: 1rem;
    border-radius: 2px;
}

::placeholder {
    color: #A6A5AA;
}

div.footer-textarea {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

textarea {
    text-align: center;
    width: 51%;
    height: 120px;
    padding: 40px;
    outline: none;
    border: 1px solid #bcc3c7;
    background: transparent;
    color: #f0f0f0;
}

div.footer-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

div.footer-btn a {
    background: #E44C65;
    text-decoration: none;
    color: #f0f0f0;
    font-size: 0.9rem;
    padding: 10px 50px;
    border-radius: 3px;
    letter-spacing: 2px;
}

div.footer h6 {
    text-align: center;
    color: #88949B;
    font-size: 1rem;
    padding-top: 6rem;
}

@media only screen and (min-width: 768px) {
div.hero-background-pos {
    display: block;
    position: absolute;
    right: 0px;
    left: 69%;
    background: #fff;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 2px 2px 15px 0 rgb(135 135 135 / 40%);
}
div.logo {
    font-size: 35px;
    margin: auto 10px;
    color: #bcc3c7;
}
ul li {
    margin: 0 52vw;
    list-style: circle;
    font-size: 3rem;
}
ul li a {
    text-decoration: underline;
    color: #88949B;
    padding: 0.3vw;
}
div.hero-section {
    background: #304353;
    padding: 10rem;
}
div.hero-content-heading h3 {
    font-size: 3rem;
    width:200px;
    padding-right:1000px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    color: #bcc3c7;
}
div.hero-content-heading p {
    text-align: left;
    width: 400px;
    padding-top: 0.7rem;
    color: #88949B;
    font-size: 3rem;
    letter-spacing: 2px;
    font-weight: 300;
}
div.hero-content-btn a {
    background: #E44C65;
    text-decoration: underline;
    text-align: left;
    color: #bcc3c7;
    font-size: 1.9rem;
    padding: 10px auto;
    border-radius: 3px;
    letter-spacing: 6px;
    width: 300px;
}
div.background h4 {
    padding: 2rem;
    color: #555657;
    font-size: 3rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}
div.background {
    background: #fff;
    box-shadow: 2px 2px 15px 0 rgb(135 135 135 / 40%);
    padding: 15px 40px;
    width: 550px;
    height: 450px;
    position: relative;
}

div.background p {
    color: #A6A5AA;
    padding-left: 2rem;
    font-size: 1.5rem;
    letter-spacing: 2px;
}
div.snapshot-team h2 {
    color: #555657;
    font-size: 3rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

div.snapshot-team p {
    color: #A6A5AA;
    font-size: 2rem;
    letter-spacing: 2px;
    padding-top: 1.2rem;
}

div.snapshot-box {
    display: flex;
    justify-content:right;
    align-items: right;
    background: #f0f0f0;
    padding: 4rem 4rem;
}

div.snapshot-box-content {
    display: flex;
    justify-content:center;
}

div.box1 {
    background: #fff;
    padding: 10px 20px;
    width: 200px;
    height: 180px;
    margin: 10px;
    border-radius: 2px;
    box-shadow: 2px 2px 15px 0 rgb(135 135 135 / 40%);
}

div.box3 {
    background: #304353;
    padding: 10px 20px;
    width: 200px;
    height: 180px;
    margin: 10px;
    border-radius: 2px;
    box-shadow: 2px 2px 15px 0 rgb(135 135 135 / 40%);
}

div.box3 h5 {
    text-align: center;
    padding-top: 2rem;
    color: #E44C65;
    font-size: 20px;
}

div.circle {
    display: flex;
    margin: 0 auto;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: #bcc3c7;
    margin-top: 1rem;
    
}

div.box1 h5 {
    text-align: center;
    padding-top: 2rem;
    color: #E44C65;
    font-size: 20px;
}
div.gallery-content h4 {
    color: #555657;
    font-size: 4rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

div.gallery-content p {
    color: #A6A5AA;
    font-size: 2.5rem;
    letter-spacing: 2px;
    padding-top: 0.8rem;
}
div.gallery-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 3rem;
 }
 
 div.img {
     margin: 15px;
 }
 
 div.img img {
     width: 350px;
     height: 280px;
 }
 div.footer-content h4 {
    color: #bcc3c7;
    font-size: 4rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

div.footer-content p {
    color: #88949B;
    font-size: 2.5rem;
    letter-spacing: 2px;
    padding-top: 0.8rem;
}
input[type="text"] {
    margin-right: 10px;
    padding: 10px 20px;
    width: 33%;
    outline: none;
    border: 1px solid #bcc3c7;
    background: transparent;
    color: #f0f0f0;
    font-size: 3rem;
    border-radius: 2px;
}

input[type="email"] {
    margin-right: 10px;
    padding: 10px 20px;
    width: 33%;
    outline: none;
    border: 1px solid #bcc3c7;
    background: transparent;
    color: #f0f0f0;
    font-size: 3rem;
    border-radius: 2px;
}
textarea {
    text-align: center;
    width: 69%;
    height: 200px;
    padding: 40px;
    outline: none;
    border: 1px solid #bcc3c7;
    background: transparent;
    color: #f0f0f0;
    font-size: 3rem;
}
div.footer-btn a {
    background: #E44C65;
    text-decoration: none;
    color: #f0f0f0;
    font-size: 3rem;
    padding: 10px 50px;
    border-radius: 3px;
    letter-spacing: 2px;
}
div.footer h6 {
    text-align: center;
    color: #88949B;
    font-size: 3rem;
    padding-top: 6rem;
}
@media only screen and (min-width: 1048px) {
    div.hero-background-pos {
        display: block;
        margin: 1px 0px 500px 0px;
        right:0px;
        left: 67%;
        background: #fff;
        width: 400px;
        height: 400px;
        border-radius: 50%;
        box-shadow: 2px 2px 15px 0 rgb(135 135 135 / 40%);
    }
    div.logo {
        font-size: 70px;
        margin: auto 15px;
        color: #bcc3c7;
    }
    ul li {
        margin: 0 62vw;
        list-style: circle;
        font-size: 3.5rem;
    }
    ul li a {
        text-decoration: underline;
        color: #88949B;
        padding: 0.9vw;
    }
    div.hero-section {
        background: #304353;
        padding: 5rem;
        
    }
    div.hero-content-heading h3 {
        font-size: 5rem;
        width:1300px;
        text-align: center;
        margin:0px 0px 0px 0px;
        padding-right:0px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 100;
        color: #bcc3c7;
    }
    div.hero-content-heading p {
        text-align: center;
        width: 1300px;
        padding-top: 0.7rem;
        margin:0px 0px 0px 0px;
        color: #88949B;
        font-size: 3.5rem;
        letter-spacing: 2px;
        font-weight: 300;
    }
    div.hero-content-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 2rem;
        padding-right: 100px;
    }
    div.hero-content-btn a {
        background: #E44C65;
        text-decoration: underline;
        color: #bcc3c7;
        font-size: 3rem;
        padding: 10px 50px ;
        border-radius: 3px;
        letter-spacing: 1px;
        width: 380px;
    }
    div.background h4 {
        padding: 2rem 130px;
        color: #555657;
        font-size: 5rem;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    div.background {
        background: #fff;
        box-shadow: 2px 2px 15px 0 rgb(135 135 135 / 40%);
        padding: 15px 40px;
        width: 950px;
        height: 850px;
        position: relative;
    }
    
    div.background p {
        color: #A6A5AA;
        padding-left: 2rem;
        font-size: 3rem;
        letter-spacing: 2px;
    }
    div.snapshot-team h2 {
        color: #555657;
        font-size: 5rem;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    
    div.snapshot-team p {
        color: #A6A5AA;
        font-size: 3rem;
        letter-spacing: 2px;
        padding-top: 1.2rem;
    }
    
    div.snapshot-box {
        display: flex;
        justify-content:right;
        align-items: right;
        background: #f0f0f0;
        padding: 4rem 6rem;
    }
    
    div.snapshot-box-content {
        display: flex;
        justify-content:center;
    }
    
    div.box1 {
        background: #fff;
        padding: 10px 20px;
        width: 450px;
        height: 400px;
        margin: 10px;
        border-radius: 2px;
        box-shadow: 2px 2px 15px 0 rgb(135 135 135 / 40%);
    }
    
    div.box3 {
        background: #304353;
        padding: 10px 20px;
        width: 450px;
        height: 400px;
        margin: 10px;
        border-radius: 2px;
        box-shadow: 2px 2px 15px 0 rgb(135 135 135 / 40%);
    }
    
    div.box3 h5 {
        text-align: center;
        padding-top: 2rem;
        color: #E44C65;
        font-size: 45px;
    }
    
    div.circle {
        display: flex;
        margin: 0 auto;
        width: 300px;
        height: 290px;
        border-radius: 50%;
        background: #bcc3c7;
        margin-top: 1rem;
        
    }
    
    div.box1 h5 {
        text-align: center;
        padding-top: 2rem;
        color: #E44C65;
        font-size: 45px;
    }
    div.gallery-content h4 {
        color: #555657;
        font-size: 4.5rem;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    
    div.gallery-content p {
        color: #A6A5AA;
        font-size: 3.5rem;
        letter-spacing: 2px;
        padding-top: 0.8rem;
    }
    div.gallery-img {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 3rem;
     }
     
     div.img {
         margin: 25px;
     }
     
     div.img img {
         width: 550px;
         height: 480px;
     }
     div.footer-content h4 {
        color: #bcc3c7;
        font-size: 5rem;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    
    div.footer-content p {
        color: #88949B;
        font-size: 3.5rem;
        letter-spacing: 2px;
        padding-top: 0.8rem;
    }
    input[type="text"] {
        margin-right: 15px;
        padding: 10px 120px;
        width: 33%;
        outline: none;
        border: 1px solid #bcc3c7;
        background: transparent;
        color: #f0f0f0;
        font-size: 5rem;
        border-radius: 2px;
    }
    
    input[type="email"] {
        margin-left: 20px;
        padding: 10px 120px;
        width: 33%;
        outline: none;
        border: 1px solid #bcc3c7;
        background: transparent;
        color: #f0f0f0;
        font-size: 5rem;
        border-radius: 2px;
    }
    textarea {
        text-align: center;
        justify-content: center;
        width: 69%;
        height: 500px;
        padding: 200px;
        outline: none;
        border: 1px solid #bcc3c7;
        background: transparent;
        color: #f0f0f0;
        font-size: 5rem;
    }
    div.footer-btn a {
        background: #E44C65;
        text-decoration: none;
        color: #f0f0f0;
        font-size: 4rem;
        padding: 10px 50px;
        border-radius: 3px;
        letter-spacing: 2px;
    }
    div.footer h6 {
        text-align: center;
        color: #88949B;
        font-size: 3rem;
        padding-top: 6rem;
    }
    }
}